# ==============================================================================
# TESTOVACÍ WEB (FTP pro j4me.net)
# ==============================================================================
FTP_HOST=ftp.j4me.net
FTP_USER=vase_prihlasovaci_jmeno
FTP_PASS=vase_tajne_heslo
FTP_PORT=21
FTP_REMOTE_DIR=/web/11
FTP_TLS=False

# ==============================================================================
# OSTRÝ PRODUKČNÍ WEB (WordPress pro https://jedenactka.skauting.cz/)
# ==============================================================================
WP_URL=https://jedenactka.skauting.cz
WP_USER=tve_jmeno_do_wordpressu
WP_PASS=tve_heslo_do_wordpressu
